In [1]:
#load required libraries and dependencies 
import os 
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi


# # Import the required libraries and dependencies
# import pandas as pd
# import os
# import requests
# import hvplot.pandas
# import holoviews as hv
# import alpaca_trade_api as tradeapi
# import datetime as dt
# import numpy as np
# from dotenv import load_dotenv
# from fbprophet import Prophet
# %matplotlib inline

In [2]:
#Load .env variable(s)

load_dotenv()

True

In [3]:
#set up Alpaca API key and secret key

alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [4]:
#Create the alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key, 
    alpaca_secret_key,
    api_version="v2"
)

In [5]:
#Format current data as ISO format
start_date = pd.Timestamp("2021-08-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2022-08-01", tz="America/New_York").isoformat()

In [6]:
#Set the tickers
psyche_tickers = ["MNMD","CYBN","ATAI","CMPS","PSYK"]
           
timeframe = "60Min"

In [7]:
#Get 1 years data for psychedelic stocks/etf

psychedelics_stocks = alpaca.get_bars(
    psyche_tickers,
    timeframe,
    start = start_date,
    end = end_date
).df

#Display dataframe

display(psychedelics_stocks.head())

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2021-08-02 13:00:00+00:00,15.82,16.04,15.6700,15.7100,110175,616,15.937791,ATAI
2021-08-02 14:00:00+00:00,15.71,15.71,15.2600,15.4100,27990,350,15.494738,ATAI
2021-08-02 15:00:00+00:00,15.42,15.50,15.3711,15.4250,27503,187,15.474668,ATAI
2021-08-02 16:00:00+00:00,15.39,15.50,15.2801,15.4800,52720,358,15.415604,ATAI
2021-08-02 17:00:00+00:00,15.49,15.50,15.4400,15.4901,65191,353,15.496478,ATAI

In [8]:
psychedelics_stocks.reset_index()

,timestamp,open,high,low,close,volume,trade_count,vwap,symbol
0,2021-08-02 13:00:00+00:00,15.8200,16.0400,15.6700,15.7100,110175,616,15.937791,ATAI
1,2021-08-02 14:00:00+00:00,15.7100,15.7100,15.2600,15.4100,27990,350,15.494738,ATAI
2,2021-08-02 15:00:00+00:00,15.4200,15.5000,15.3711,15.4250,27503,187,15.474668,ATAI
3,2021-08-02 16:00:00+00:00,15.3900,15.5000,15.2801,15.4800,52720,358,15.415604,ATAI
4,2021-08-02 17:00:00+00:00,15.4900,15.5000,15.4400,15.4901,65191,353,15.496478,ATAI
...,...,...,...,...,...,...,...,...,...
11564,2022-07-29 14:00:00+00:00,19.9500,19.9500,19.9500,19.9500,200,1,19.950000,PSYK
11565,2022-07-29 15:00:00+00:00,19.8182,19.8182,19.8182,19.8182,156,3,19.818526,PSYK
11566,2022-07-29 17:00:00+00:00,19.8150,19.8150,19.8150,19.8150,100,1,19.815000,PSYK
11567,2022-07-29 18:00:00+00:00,19.8200,19.8200,19.8200,19.8200,100,1,19.820000,PSYK
11568,2022-07-29 19:00:00+00:00,19.8100,19.8100,19.7100,19.7100,200,2,19.760000,PSYK

In [11]:

psychedelics_stocks.rename(columns=


# psychedelics_stocks["timestamp"] = pd.to_datetime(
#     psychedelics_stocks["timestamp"],
#     infer_datetime_format = True,
#     utc = True
# )

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 11569 entries, 2021-08-02 13:00:00+00:00 to 2022-07-29 19:00:00+00:00
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   open         11569 non-null  float64
 1   high         11569 non-null  float64
 2   low          11569 non-null  float64
 3   close        11569 non-null  float64
 4   volume       11569 non-null  int64
 5   trade_count  11569 non-null  int64
 6   vwap         11569 non-null  float64
 7   symbol       11569 non-null  object
dtypes: float64(5), int64(2), object(1)
memory usage: 813.4+ KB

In [ ]:
#Reorganize Dataframe
#Separate ticker data

MNMD = psychedelics_stocks[psychedelics_stocks["symbol"]== "MNMD"].drop("symbol",axis = 1)
CYBN = psychedelics_stocks[psychedelics_stocks["symbol"]== "CYBN"].drop("symbol",axis = 1)
ATAI = psychedelics_stocks[psychedelics_stocks["symbol"]== "ATAI"].drop("symbol",axis = 1)
CMPS = psychedelics_stocks[psychedelics_stocks["symbol"]== "CMPS"].drop("symbol",axis = 1)
PSYK = psychedelics_stocks[psychedelics_stocks["symbol"]== "PSYK"].drop("symbol",axis = 1)



#Concatenate DataFrames

mind_trip_portfolio = pd.concat([MNMD,CYBN,ATAI,CMPS], axis =1 , keys = ["MNMD","CYBN","ATAI","CMPS"])

#View DataFrame 

display(mind_trip_portfolio.head())

In [ ]:
#Display eft
psyk_psychedelics_eft = PSYK

display(psyk_psychedelics_eft.head())

In [ ]:
#Get 1 years data for psychedelic stocks/etf
sp_tickers = "SPY"

sp500 = alpaca.get_bars(
    sp_tickers,
    timeframe,
    start = start_date,
    end = end_date
).df

#Display dataframe

display(sp500.head())